.container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    position: fixed;
    left: -200px;
    top: 0;
    transition: left 0.3s ease-in-out;
  }
  
  input[type="checkbox"]:checked ~ .sidebar {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    background-color: #ddd;
  }
  
  .sidebar-toggle-btn {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 36px;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 16px;
  }
  